# --- Navigation ---
next_page            J
previous_page        K

# --- Zoom & View ---
fit_to_page_width s
fit_to_page_height =
fit_to_page_height_smart a
toggle_dark_mode i

# I don't want q to close all windows
close_window q

# forward and backward in the jump list
prev_state <C-o>
next_state <C-i>
